# Visual Studio 2019のフォルダをコミットしないため
# プロジェクト管理用の一時フォルダ?
.vs
# 実行ファイルの出力先
out
Debug
Release
# Nugetのパッケージの管理フォルダ
packages

# Visual Studio Codeのフォルダをコミットしないため
# プロジェクト管理用のフォルダ
.vscode

# Pythonのキャッシュをコミットする
# 2019.09.11 __pycache__のみしかもっていない情報があるのかimportエラーが発生した為、変更
#__pycache__
